@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@600&family=Playfair+Display:wght@600&display=swap');
html{
	scroll-behavior: smooth;
}
body{
	margin:0;
	padding: 0;
	background: #ddeeee;
	/*position: relative;*/
}
.myNav{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid #6f6f6f;
	padding-bottom: 0rem;
	text-align: center;
	position: sticky;
	top: 0;
	background: #bdc3c7;
}
.myNav h1{
	font-family: Playfair Display, sans-serif;
	font-size: 30px;
	color: #717171;
}
.myNav .menu{
	margin-top: 5px;
	margin-left: 300px;
}
.myNav .menu a{
	margin-right: 15px;
	text-decoration: none;
	color: #fff;
	font-family: Merriweather&family=Montserrat, sans-serif;
	font-size: 20px;
	border-radius: 10px;
	border-bottom: 1px solid #fff;
	padding: 5px 7px;
}
.myNav .menu a:hover{
	background: #ddeeee;
	color: #FF7B07;
	/*padding: 5px 5px;*/
}
.myNav span a{
	margin-left: 100px;
	margin-top: 5px;
	padding: .5rem 1rem;
	text-decoration: none;
	color: #fff;
	font-family: Merriweather&family=Montserrat, sans-serif;
	font-size: 15px;
	float: right;
	background: #FF7B07;
	border-radius: 10px;
}
.myNav span a #taille{
	margin-left: .2rem;
	background: #bdc3c7;
	border-radius: 50%;
	padding: .2rem;
	font-weight: bold;
}
.myNav span a:hover{
	color: #FF7B07;
	background: #ddeeee;
}

/*mon header*/
.myheader{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('images/img23.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	padding: 40px;
	text-align: center;
}
.myheader{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('images/img23.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	padding: 70px 40px;
	text-align: center;
	height: 420px;
}
.myheader h1{
	font-family: Playfair Display, sans-serif;
	font-size: 50px;
	color: #fff;
}
.myheader h3{
	font-family: 'Playfair Display', sans-serif;
	font-size: 25px;
	color: #fff;
	margin-top: -10px;
	border-bottom: 2px solid #717171;
	padding-bottom: 5px;
}
.myheader .btnParcour a{
	padding: 15px 30px;
	color: #fff;
	background: #FF7B07;
	font-family: Playfair Display, sans-serif;
	font-size: 25px;
	outline: none;
	cursor: pointer;
	border:none;
	border-radius: 10px;
	text-decoration: none;
}
.myheader .btnParcour a:hover{
	color: #FF7B07;
	background: #ddeeee;
}
.mySection{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 50px 30px;	
}
.mySection h1{
	font-family: Playfair Display, sans-serif;
	font-size: 35px;
	text-align: center;
	color: #6f6f6f;
}
.mySection .first-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-right: 50px;
	margin-left: 50px;
}
.mySection .card{
	margin-bottom: 20px;
}
.mySection .first-content .card .card-top{
	/*width: 300px;*/
	margin-right: 15px;

}

.mySection .first-content .card .card-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	color: #000;
	margin-right: 15px;
	margin-top: -25px;
	padding-left: 10px
}
.mySection .first-content .card .card-bottom span h1, p{
	word-wrap: break-word;
}

.mySection .first-content .card .card-bottom span a{
	margin-right: 0px;
	padding-right: 0px;
}
/*last content*/
.mySection .last-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}
.mySection .last-content .card .card-top{
	/*width: 300px;*/
	margin-right: 15px;

}
.mySection .last-content .card .card-top img,
.mySection .full-content .card .card-top img,
.mySection .first-content .card .card-top img{
	height: 300px;
	width: 300px;
	border-radius:10px;	 
}
.mySection .last-content .card .card-bottom {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: #fff;
	color: #000;
	margin-right: 15px;
	margin-top: -25px;
	padding-left: 10px
}
.mySection .last-content .card .card-bottom span h1,
.mySection .full-content .card .card-bottom span h1,
.mySection .first-content .card .card-bottom span h1{
	font-family: Playfair Display, sans-serif;
	font-size: 25px;
	color: #6f6f6f;
}
.mySection .last-content .card .card-bottom span p,
.mySection .first-content .card .card-bottom span p,
.mySection .full-content .card .card-bottom span p{
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	margin-top: -15px

}

.mySection .last-content .card .card-bottom span a,
.mySection .full-content .card .card-bottom span a,
.mySection .first-content .card .card-bottom span a {
	font-size: 25px;
	padding: 1rem;
	margin-right: .4rem;
	color: #6f6f6f;
	background: #ddeeee;
}
.mySection .first-content .card .card-bottom span a:hover{
	background: #ffd77d;
	color: #fff;
	font-size: 35px;
}

/*full content*/
.mySection .full-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}
.mySection .full-content .card .card-top{
	/*width: 300px;*/
	margin-right: 15px;

}

.mySection .full-content .card .card-bottom {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: #fff;
	color: #000;
	margin-right: 15px;
	margin-top: -25px;
	padding-left: 10px;
}

/*Mes services*/
.myServices{
	display: flex;
	flex-wrap: wrap;
	padding: 40px 60px;
	border-top: 3px solid #6f6f6f;border-bottom: 3px solid #6f6f6f;
	background: #fff;
	margin: 30px 60px;
	border-radius: 10px;
	justify-content: center;
}
.myServices .description{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 40px;
}
.myServices .description h1{
	font-family: Playfair Display, sans-serif;
	font-size: 35px;
	color: #6f6f6f;
}
.myServices .description p{
	max-width: 60%;
	margin-top: -15px;
	font-family: Montserrat, sans-serif;
	font-size: 17px;
}
.myServices .content-service{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 20px;
}
.myServices .content-service .propos-me, .livraison{
	margin-right: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.myServices .content-service .paiement{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.myServices .content-service .propos-me img, .livraison img, .paiement img{
	width: 180px;
	height: 180px;
	align-items: center;
	border-radius: 100%;
}
.myServices .content-service .propos-me h1, .livraison h1, .paiement h1{
	font-family: Playfair Display, sans-serif;
	text-align: center;
}
.myServices .content-service .livraison p, .paiement p{
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	margin-top: -10px;
}
.myServices .content-service .propos-me p{
	margin-top: -10px;
}
.myServices .content-service .propos-me p a{
	margin-right: 15px;
	text-decoration: none;
	color: #000;
}

/*mes contacts*/
.contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact h1{
	font-family: Playfair Display, sans-serif;
	font-size: 35px;
	text-align: center;
	color: #6f6f6f;
}
.contact .form-contact p input{
	width: 300px;
	height: 30px;
	border:none;
	font-family: 'Playfair Display', serif;
	font-size: 17px;
	outline: none;
}
.contact .form-contact p input:hover{
	background: #ffd77d;
}
.contact .form-contact p textarea{
	width: 300px;
	height: 100px;
	font-family: 'Playfair Display', serif;
	font-size: 17px;
	border:none;
	outline: none;
	color: #717171;
}
.contact .form-contact p textarea:hover{
	background: #ffd77d;
}
.contact .form-contact span input{
	/*width: 100px;
	height: 60px;*/
	padding: 15px 30px;
	color: #fff;
	background: #FF7B07;
	font-family: Playfair Display, sans-serif;
	font-size: 25px;
	outline: none;
	cursor: pointer;
	border:none;
	border-radius: 10px;
}
.contact .form-contact span input:hover{
	background: #ffd77d;
}

/*Mon footer*/
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	padding: 20px 30px;
	background: #000;
	/*position: absolute;	
	bottom: 0;*/
}
footer .email{
	color: rgb(181, 181, 181);
	font-family: 'Playfair Display', serif;
	font-size: 17px;
	text-align: center;
}
footer .icon-social{
	text-align: center;
	color: rgb(181, 181, 181);
}
footer .icon-social a{
	padding-right: 20px;
	color: rgb(181, 181, 181);
	font-size: 25px;
}
footer .number{
	color: rgb(181, 181, 181);
	font-family: 'Playfair Display', serif;
	font-size: 17px;
	text-align: center;	
}

/*resolution maximale de 680px*/
@media screen and (max-width: 680px){
	.myNav .menu{
		margin-left: 0px;
		margin-bottom: 20px;
	}
	.myNav span a{
		margin-left: 0px;
		margin-top: -15px;
		padding:5px 5px;
	}
	.myNav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.myNav .menu a{
		display: none;
		border-bottom: none;
	}	
	.mySection .first-content .card{
		margin-bottom: 20px;
	}
	.mySection .first-content .card .card-top{
		margin-right: 0px;
	}
	.mySection .first-content .card .card-top img{
		height: 250px;
		width: 250px;
	}
	.mySection .first-content .card .card-bottom{
		margin-top: -25px;
		width: 241px;
	}
	.mySection .first-content .card .card-bottom span a img{
		margin-left: 70px;
	}
	.mySection .last-content .card{
		margin-bottom: 20px;
	}
	.mySection .last-content .card .card-top{
		margin-right: 0px;
	}
	.mySection .last-content .card .card-top img{
		height: 250px;
		width: 250px;
	}
	.mySection .last-content .card .card-bottom{
		margin-top: -25px;
		width: 241px;
	}
	.mySection .last-content .card .card-bottom span a img{
		margin-left: 70px;
	}
	.mySection .full-content .card{
		margin-bottom: 20px;
	}
	.mySection .full-content .card .card-top{
		margin-right: 0px;
	}
	.mySection .full-content .card .card-top img{
		height: 250px;
		width: 250px;
	}
	.mySection .full-content .card .card-bottom{
		margin-top: -25px;
		width: 241px;
	}
	.mySection .full-content .card .card-bottom span a img{
		margin-left: 70px;
	}
	.myServices .content-service .propos-me img, .livraison img, .paiement img{
		width: 80px;
		height: 80px;
	}
	.myServices .content-service .propos-me, .livraison{
		margin-right: 0px;
	}
	.myServices{
		padding: 0px;
		margin: 0px;
		border: none;
		border-radius:0px;
	}
	.myServices .content-service{
		justify-content: center;
	}
	.myServices .description{
		justify-content: initial;
	}
	.myServices .description p{
		margin: 0px;
		padding: 0px;
		font-size: initial;
		width: auto;
		text-align: justify;
	}
	.contact .form-contact p input{
		width: 250px;
		height: 30px;
	}
	.contact .form-contact p textarea{
		width: 250px;
	}
	.contact .form-contact span input{
		padding: 5px 5px;
	}
	footer{
		padding: 10px;
		flex-direction: column;
	}
	footer .email{
		margin: 5px;
		margin-bottom: 15px;
	}
	footer .icon-social{
		margin: 0px;
		margin-bottom: 15px;
	}
}

/*résolution max 1100*/
@media screen and (max-width: 1200px){
	.myNav .menu{
		margin-left: 50px;
		margin-bottom: 20px;
	}
	.myNav span a{
		margin-left: 20px;
	}
	.mySection .first-content .card, .last-content .card, .full-content .card{
		margin-bottom: 20px;
	}
	.myServices .content-service .propos-me, .livraison, .paiement{
		margin: 20px;
	}
	.myServices .content-service .propos-me img, .livraison img, .paiement img{
		width: 80px;
		height: 80px;
	}
	.myServices .content-service .propos-me h1, .livraison h1, .paiement h1{
		font-size: 20px;
	}
	.myServices .content-service .propos-me, .livraison{
		margin-right: 0px;
	}
	footer {
		align-items: center;
		padding: 40px 0px;
	}
	footer .email{
		margin-left: -50px;
		margin-right: 20px;
	}
	footer .icon-social{
		margin-right: 40px;
		margin-left: 50px;
		text-align: center;
	}
}

/*resolution max 815*/
@media screen and (max-width: 815px){
	.myServices .content-service{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.myServices .content-service .propos-me img, .livraison img, .paiement img{
		width: 140px;
		height: 140px;
	}
}

/*Panier.php*/
.panier-header{
	background: #ddeeee;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.row-header{
	display: flex;
	flex-wrap: wrap;
	position: sticky;
	top: 6rem;
	/*margin-top: -.1rem;*/
	align-items: center;
	justify-content: center;
	padding:10px 20px;
	background: #354341;
}
.panier-header .row-header .col-header-back p a{
	text-align: center;
	text-decoration: none;
	color: #fff;
	border: 1px solid #2B3433;
	padding: 20px 30px;
}
.panier-header .row-header .col-header-back p a:hover{
	color: #FF7B07;
	background: #ddeeee;
}
.panier-header .row-header .col-header-back p a i{
	margin-top: 5px;
}
.panier-header .row-header .col-header-back p a em{
	font-family: 'Playfair Display', serif;
	font-size: 15px; 
}
.panier-header .row-header .col-header-total{
	margin-left: 300px;
	border-left: 1px solid #2B3433;
	padding: 0px 30px;
}
.panier-header .row-header .col-header-taille{
	margin-left: 30px;
	border-right: 1px solid #2B3433;
	padding: 0px 30px;
}
.panier-header .row-header .col-header-total p span{
	text-align: center;
	border-radius: 50%;
	padding: .2rem .2rem;
	background: #ddeeee;
	color: #6f6f6f;
	font-weight: 700;
}
.panier-header .row-header .col-header-taille p span{
	text-align: center;
	padding: .2rem .2rem;
	background: #ddeeee;
	color: #6f6f6f;
	font-weight: 700;
}
.panier-header .row-header .col-header-total p, .col-header-taille p{
	display: flex;
	flex-direction: column;
}
.panier-header .row-header .col-header-total p b, .col-header-taille p b{
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	text-align: center;
	color: #fff;
}
.row-table{
/*	position: relative;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*margin-top: 2rem;*/
	height: 100%;
}
.row-table .col-table .table-panier{
	margin-top: -5rem;
}
.row-table .desc-panier-empty{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;	
	margin-top: 0px;
	padding: 30px 30px;
	text-align: center;
	background: #eeeeee;
}
.row-table .desc-panier-empty p{
	color: #000;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
}
.row-table .desc-panier-empty p a{
	text-decoration: none;
	color: green;
	padding: 20px 30px;
	border-radius: 10px;
}
.row-table .desc-panier-empty p a:hover{
	background: #ddeeee;
	color: #FF7B07;
}
.row-table .col-table .table-panier tr th{
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	font-weight: bold;
	border-top: 1px solid #2B3433;
}
.row-table .col-table .table-panier tr td{
	font-family: Montserrat, serif;
	font-size: 15px;
}
.row-table .col-table .table-panier th, td{
	border-bottom: 1px solid #2B3433;
	border-right: 1px solid #2B3433;
	padding: 0px 20px;
}
.row-table .col-table .table-panier tr td .action .del img{
		
}

/*moyenne resolution for panier*/
@media screen and (max-width: 680px){
	.panier-header .row-header .col-header-total{
		margin-left: 10px;
		padding: 0px 10px;
		border: none;
	}
	.panier-header .row-header .col-header-taille{
		margin-left: 30px;
		padding: 0px 25px;
		border: none;
	}
	.row-table .col-table .table-panier th, td{
		border: 2px solid #2B3433;
		padding: 0px 0px;
	}
	.panier-header .row-table .col-table .table-panier tr .td-img img{
		width: 20px;
		height: 20px;
	}
}a

/*ma page inscription des clients*/
.myFormInscript .form-validate{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.myFormInscript .form-validate h1{
	font-family: Playfair Display, sans-serif;
	font-size: 30px;
	color: #6f6f6f;
}
.myFormInscript .form-validate p input, p select{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	width: 300px;
	padding: 10px 20px;
	border-radius: 10px;
	outline: none;
	border:none;
}
.myFormInscript .form-validate p input:hover, p select:hover{
	background: #ddeeee;
	color: #FF7B07;
}
.myFormInscript .form-validate span input{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	background: #FF7B07;
	border-radius: 10px;
	width: 100px;
	padding: 10px 20px;
	outline: none;
	cursor: pointer;
	border:none;
}
.form-validate span input:hover{
	background: #ddeeee;
	color: #FF7B07;
}

/*ma page de connection des clients*/
.myform{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 30px;
}
.myform h1{
	font-family: Playfair Display, sans-serif;
	font-size: 40px;
	color: #6f6f6f;
}
.myform form{
	padding: 0px 0px;
	width: 100%;
}
.myform form p input{
	width: 250px;
	height: 30px;
	border: 2px solid #fff;
	border-radius: 10px;
	outline: none;
	background: #fff;
	padding: 0.5em;
}
.myform form p input:hover{
	color: #FF7B07;
	background: #fff;
}
.myform form span input{
	width: 150px;
	padding: 15px;
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
	background: #FF7B07;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 10px;
}
.myform form span input:hover{
	background:#fff;
	color: #FF7B07;
}
.erreur{
	color: red;
	font-size: 15px;
}
.myform p .link-insc{
	text-decoration: none;
	color: #777;
	font-size: 20px;
	border-bottom: 1px solid #777;
	padding-bottom: 5px;
}
